.right
  .right__top
    .right__top--left
      .right__top--title
        group name
      .right__top--bottom
        message :
    .right__top--edit
      =link_to "Edit", "#", class: "right__top--btn"
        

  .right__content
    .right__content--text
      .right__content--name
        Name 
        %span 2019/10/03/13:11:11
      .right__content--message
        this is a first message

  .right__bottom
    .right__bottom--text
      .right__bottom--form
        %input.login-input-text{:name => "message", :placeholder => "type a message", :type => "text", id: "form"}/
        %label{class: "label"}
          = icon('far', 'image', class: "icon")
          %input{type: "file", class: "file"}
      .right__bottom--send
        %input{type: "submit", value: "send", id: "send"}