.right__content--text
  .right__content--name
    = message.user.name
    %span 
      = message.created_at.to_s
  .right__content--message
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
