html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  height: 100%;
}

.left {
  height: 100%;
  background-color: #2f3e51;
  &__top {
    background-color: #253141;
    height: 15%;
    width: 260px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    &__name {
      font-size: 16px;
      color: $white;
      font-weight: bold;
      line-height: 120px;
    }
    &__btn {
      line-height: 120px;
      color: $white;
      .top__btn--left {
        padding-right: 5px;
      }
    }
  }  
  &__bottom {
    width: 260px;
    padding: 0 20px;
    &--title {
      font: 15px;
      font-weight: bold;
      color: $white;
      padding-top: 20px;
    }
    &--log {
      font-size: 11px;
      font-weight: bold;
      color: $white;
      padding-bottom: 40px;
    }
  }
}

.right {
  height: 100%;
  width: calc(100% - 300px);
  &__top {
    height: 15%;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    &--left {
      margin-left: 40px;
      .right__top--title {
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      .right__top--bottom {
        padding-top: 15px;
        font-size: 12px;
        color: #999999;
      }
    }
    &--edit {
      margin-top: 28px;
      .right__top--btn {
        color: $aqua;
        text-decoration: none;
        border: 1px solid $aqua;
        padding: 20px;
        margin-right: 40px;
      }
    }
  }
  .right__content {
    background-color: #fafafa;
    height: 75%;
    position: relative;
    overflow: scroll;
    &--text {
      padding: 35px 48px;
      .right__content--name {
        font-size: 16px;
        font-weight: bold;
        color: $gray;
        padding-bottom: 10px;
        span {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .right__content--message {
        font-size: 14px;
        color: $gray;
      }
      img {
        height: 100px;
        width: 150px;
      }
    }
  }
  .right__bottom {
    background-color: #ddd;
    height: 10%;
    padding: 0 30px;
    &--text {
      display: flex;
      
      .right__bottom--form {
        position: relative;
        width: 100%;
        margin: 10px 0;
        #form {
          height: 51px;
          width: 91%;
          position: relative;
        }
        .label {
          position: absolute;
          top: 15px;
          right: 10%;
          .icon{
            font-size: 25px;
          }
          .file {
            display: none;
          }
        }
        #send {
          position: absolute;
          bottom: 5px;  
          margin: 15px 0 0 20px;
          padding: 10px 18px;
          background-color: $aqua;
        }
      }    

    }
  }
}


